body {
  background-color: gray;
}

.PARI {
  width: 700px;
  height: 400px;
  position: absolute;
  margin: 150px 550px;
  border-bottom: solid 5px black;
}
.PARI .pole {
  width: 10px;
  height: 200px;
  margin-top: 200px;
  margin-left: 20px;
  border-top-left-radius: 12px;
  background-color: black;
  position: absolute;
}
.PARI .pari {
  width: 10px;
  height: 65px;
  background-color: black;
  margin: 148px 50px;
  position: absolute;
}
.PARI .paris-naw1 {
  width: 10px;
  height: 37px;
  margin: 175px 35px;
  background-color: black;
  rotate: 45deg;
  position: absolute;
}
.PARI .paris-bade {
  width: 10px;
  height: 40px;
  margin: 180px 70px;
  rotate: 90deg;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  background-color: rgb(0, 0, 0);
}
.PARI .tani {
  position: absolute;
  width: 10px;
  height: 70px;
  background-color: black;
  border-radius: 10px;
  margin: 280px 415px;
}
.PARI .barkali-1 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: 45deg;
  background-color: black;
  margin: 335px 404px;
}
.PARI .wvivi-1 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: 0deg;
  background-color: black;
  margin: 362px 392px;
}
.PARI .barkali-2 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: -10deg;
  background-color: black;
  margin: 337px 418px;
}
.PARI .wvivi-2 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: -30deg;
  background-color: black;
  margin: 362px 427px;
}
.PARI .mklavi-1 {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  rotate: -80deg;
  background-color: black;
  margin: 286px 400px;
}
.PARI .xeli-1 {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  rotate: -10deg;
  background-color: black;
  margin: 273px 388px;
}
.PARI .mklavi-2 {
  position: absolute;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  rotate: -80deg;
  background-color: black;
  margin: 280px 405px;
}
.PARI .xeli-2 {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  rotate: 7deg;
  background-color: black;
  margin: 263px 400px;
}
.PARI .tavi {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: black;
  margin: 255px 405px;
}
.PARI .burti {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 248px 380px;
  animation-name: ball;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.PARI .burti-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 90px 170px;
}
@keyframes ball {
  0% {
    top: 0;
  }
  10% {
    transform: translateX(-18px) translateY(-32px);
  }
  20% {
    transform: translateX(-55px) translateY(-65px);
  }
  30% {
    transform: translateX(-125px) translateY(-135px);
  }
  40% {
    transform: translateX(-205px) translateY(-150px);
  }
  50% {
    transform: translateX(-250px) translateY(-130px);
  }
  60% {
    transform: translateX(-330px) translateY(-65px);
  }
  70% {
    transform: translateX(-320px) translateY(-60px);
  }
  75% {
    transform: translateX(-315px) translateY(-60px);
  }
  80% {
    transform: translateX(-320px) translateY(-40px);
  }
  85% {
    transform: translateX(-230px) translateY(130px);
  }
}/*# sourceMappingURL=style.css.map */