body {
  background-color: rgb(230, 252, 252);
}
body .d1 {
  margin: 300px 646.5px;
  width: 500px;
  height: 80px;
  position: absolute;
}
body .inp1 {
  width: 50%;
  height: 50%;
  border: solid 1px gray;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgb(211, 210, 210);
}
body .inp2 {
  width: 50%;
  height: 50%;
  border: solid 1px gray;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgb(211, 210, 210);
}
body .b1 {
  width: 260px;
  height: 40px;
  margin: 400px 645px;
  border-radius: 6px;
  background-color: rgb(0, 108, 250);
  border: solid 1px rgb(0, 0, 0);
}
body .d2 {
  margin: auto;
  position: absolute;
}
body .img1 {
  position: absolute;
  margin: 140px 690px;
}
body .b1:hover {
  border: solid 3px rgb(0, 0, 0);
}

.nav1 {
  width: 100%;
  background-color: rgb(64, 99, 255);
  height: 60px;
  border-bottom: solid 2px black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.d2 {
  height: 100%;
  width: 60px;
  background-color: rgb(64, 99, 255);
  position: fixed;
  left: 0;
  transition: width 1.2s;
}
.d2 .d2-2 {
  width: 50px;
  height: 40px;
  margin-top: 120px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-3 {
  width: 50px;
  height: 40px;
  margin-top: 180px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-4 {
  width: 50px;
  height: 40px;
  margin-top: 240px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-5 {
  width: 50px;
  height: 40px;
  margin-top: 300px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-6 {
  width: 50px;
  height: 40px;
  margin-top: 360px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-7 {
  width: 50px;
  height: 40px;
  margin-top: 420px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-8 {
  width: 50px;
  height: 40px;
  margin-top: 480px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-9 {
  width: 50px;
  height: 40px;
  margin-top: 540px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-10 {
  width: 50px;
  height: 40px;
  margin-top: 600px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}
.d2 .d2-11 {
  width: 50px;
  height: 40px;
  margin-top: 660px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}

.d2-1 {
  width: 50px;
  height: 40px;
  margin-top: 60px;
  position: fixed;
  background-color: rgb(64, 99, 255);
  left: 4px;
  transition-duration: 1.2s;
  border-radius: 30px;
}

.h3-1 {
  visibility: hidden;
  font-size: x-large;
  margin-left: 50px;
  margin-top: 5px;
  transition-delay: 0.7s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  color: white;
}

.h3-2 {
  visibility: hidden;
  font-size: x-large;
  margin-left: 80px;
  margin-top: 5px;
  transition-delay: 0.7s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  color: white;
}

.d2:hover {
  width: 20%;
}
.d2:hover .d2-1 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-2 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-3 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-4 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-5 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-6 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-7 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-8 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-9 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-10 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .d2-11 {
  width: 300px;
  background-color: rgb(27, 39, 148);
}
.d2:hover .h3-1 {
  visibility: visible;
}
.d2:hover .h3-2 {
  visibility: visible;
}
.d2:hover .fa-bars {
  visibility: hidden;
}

.img2 {
  width: 48px;
  height: 48px;
  position: fixed;
}

.h1-1 {
  position: fixed;
  margin-left: 60px;
  top: 0;
  font-size: x-large;
}

.fa-bars {
  position: fixed;
  margin-top: 70px;
  margin-left: 15px;
}

.fa-envelope {
  margin-left: 1300px;
  margin-top: 30px;
}

.PARI {
  width: 700px;
  height: 400px;
  position: absolute;
  margin: 150px 490px;
  border-bottom: solid 5px black;
}
.PARI .pole {
  width: 10px;
  height: 200px;
  margin-top: 200px;
  margin-left: 20px;
  border-top-left-radius: 12px;
  background-color: black;
  position: absolute;
}
.PARI .pari {
  width: 10px;
  height: 65px;
  background-color: black;
  margin: 148px 50px;
  position: absolute;
}
.PARI .paris-naw1 {
  width: 10px;
  height: 37px;
  margin: 175px 35px;
  background-color: black;
  rotate: 45deg;
  position: absolute;
}
.PARI .paris-bade {
  width: 10px;
  height: 40px;
  margin: 180px 70px;
  rotate: 90deg;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  background-color: rgb(0, 0, 0);
}
.PARI .tani {
  position: absolute;
  width: 10px;
  height: 70px;
  background-color: black;
  border-radius: 10px;
  margin: 280px 415px;
}
.PARI .barkali-1 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: 45deg;
  background-color: black;
  margin: 335px 404px;
}
.PARI .wvivi-1 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: 0deg;
  background-color: black;
  margin: 362px 392px;
}
.PARI .barkali-2 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: -10deg;
  background-color: black;
  margin: 337px 418px;
}
.PARI .wvivi-2 {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  rotate: -30deg;
  background-color: black;
  margin: 362px 427px;
}
.PARI .mklavi-1 {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  rotate: -80deg;
  background-color: black;
  margin: 286px 400px;
}
.PARI .xeli-1 {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  rotate: -10deg;
  background-color: black;
  margin: 273px 388px;
}
.PARI .mklavi-2 {
  position: absolute;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  rotate: -80deg;
  background-color: black;
  margin: 280px 405px;
}
.PARI .xeli-2 {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px;
  rotate: 7deg;
  background-color: black;
  margin: 263px 400px;
}
.PARI .tavi {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: black;
  margin: 255px 405px;
}
.PARI .burti {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 248px 380px;
  animation-name: ball;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.PARI .burti-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 90px 170px;
}
@keyframes ball {
  0% {
    top: 0;
  }
  10% {
    transform: translateX(-18px) translateY(-32px);
  }
  20% {
    transform: translateX(-55px) translateY(-65px);
  }
  30% {
    transform: translateX(-125px) translateY(-135px);
  }
  40% {
    transform: translateX(-205px) translateY(-150px);
  }
  50% {
    transform: translateX(-250px) translateY(-130px);
  }
  60% {
    transform: translateX(-330px) translateY(-65px);
  }
  70% {
    transform: translateX(-320px) translateY(-60px);
    animation-duration: 10s;
  }
  75% {
    transform: translateX(-315px) translateY(-60px);
    animation-duration: 2s;
  }
  80% {
    transform: translateX(-320px) translateY(-40px);
    animation-duration: 10s;
  }
  85% {
    transform: translateX(-230px) translateY(130px);
    animation-duration: 10s;
  }
}

.d3 {
  position: absolute;
  width: 900px;
  height: 600px;
  border: solid 2px black;
  background-color: grey;
  margin: 180px 350px;
}
.d3 .d3-head {
  width: 100%;
  background-color: rgb(57, 155, 57);
  height: 110px;
}
.d3 .d3-main {
  width: 100%;
  height: 80px;
  border: solid 0.5px black;
}
.d3 .h1-2 {
  position: absolute;
  margin-left: 10px;
}
.d3 .h2-1 {
  margin-left: 10px;
}

.long {
  margin-left: 50px;
}

.d4 {
  height: 500px;
  width: 270px;
  background-color: gray;
  border: solid 1px black;
  position: absolute;
  margin: 180px 600px;
}

.g1 {
  position: absolute;
  margin-left: 30px;
  height: 25px;
  width: 200px;
}

.inp3 {
  margin-top: 20px;
  height: 25px;
  width: 200px;
}

.inp4 {
  margin-top: 60px;
  height: 25px;
  width: 200px;
}

.inp5 {
  margin-top: 100px;
  height: 25px;
  width: 200px;
}

.inp6 {
  margin-top: 140px;
  height: 25px;
  width: 200px;
}

.inp7 {
  margin-top: 180px;
  height: 25px;
  width: 200px;
}

.b2 {
  height: 30px;
  width: 208px;
  border: solid 1px black;
  background-color: rgb(0, 108, 250);
  margin: 220px 30px;
}

.b3 {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: solid 1px black;
  background-color: rgb(0, 108, 250);
  margin-left: 1300px;
  font-size: large;
  position: absolute;
}

.b3:hover {
  width: 220px;
  height: 60px;
  margin-left: 1280;
  border: solid 1px rgb(245, 255, 106);
}/*# sourceMappingURL=style.css.map */